:host {
    width: 100%;
}

/*
 *  Позже избавлюсь от ng-deep (времени нету этим заниматься)
*/

::ng-deep .mat-mdc-list-option {
  flex-direction: row-reverse;
  padding: 0 !important;
}

::ng-deep .mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__end {
    margin: 0 16px 0 0;
}

::ng-deep .mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
    display: flex !important;
    align-items: center;
    gap: 20px;
}

.task {
    flex: 1;
}