<mat-selection-list #shoes>
  <mat-list-option *ngFor="let shoe of typesOfShoes">
    <app-task-item class="task" [task]="shoe"></app-task-item>
     <div class="task-actions">
        <button mat-button 
                (click)="onReadMore($event)">Подробнее</button>
        <button mat-button 
                color="warn"
                (click)="onRemove($event)"
                >Удалить</button>
     </div>
  </mat-list-option>
</mat-selection-list>

<p>
  Options selected: {{shoes.selectedOptions.selected.length}}
</p>
