<mat-selection-list #shoes>
  <mat-list-option *ngFor="let shoe of typesOfShoes">
    <div class="task">
      <div class="task__title">{{shoe}}</div>
      <div class="task__description">Описание</div>
    </div>
     <div class="task-actions">
        <button mat-button 
                (click)="onReadMore($event)">Подробнее</button>
        <button mat-button 
                color="warn"
                (click)="onRemove($event)"
                >Удалить</button>
     </div>
  </mat-list-option>
</mat-selection-list>

<p>
  Options selected: {{shoes.selectedOptions.selected.length}}
</p>
