<div class="completed-tasks">
  Выполнено задач: {{ completedTasksCount$ | async }}
</div>

<div class="table-container">
  <div class="table-header">
    <div class="column status">Статус</div>
    <div class="column title">Название</div>
    <div class="column description">Описание</div>
    <div class="column actions">Действия</div>
  </div>

  <cdk-virtual-scroll-viewport itemSize="40" class="viewport" *ngIf="filteredTasksObs | async as tasks">
    <div *cdkVirtualFor="let task of tasks" class="table-row">
      <div class="column status">
        <mat-checkbox [checked]="task.status"
                      (change)="onToggleStatus(task)"></mat-checkbox>
      </div>
      <div class="column title">{{ task.title }}</div>
      <div class="column description">{{ task.description }}</div>
      <div class="column actions">
        <button mat-stroked-button color="primary" (click)="onReadMore($event, task.id)">Подробнее</button>
        <button mat-stroked-button color="warn" (click)="onRemove($event, task.id)">Удалить</button>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
